<h1>Shops#index</h1>



<%@shoplist.each do |shop|%>
    <% case @language %>
    <% when 'japanese' %>
        <%= shop.japanese_name %>
    <% when 'english' %>
        <%= shop.english_name %>
    <% end %>

<%end%>
<p>Find me in app/views/shops/index.html.erb</p>

<%# aがリンクという意味で、店の新規投稿に飛ばす %>
<a href="/shops/new">新規投稿</a>
