<% if user_signed_in? %>
    <% if current_user.admin %>
        <li>
            <%= select_tag 'setting', options_for_select(@setting_option, selected: "#"), onchange: 'location.href=value;' %>
        </li>
    <% end %>
<% end %>